{{define "content"}}

<div class="page-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-xl-12">
        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header pb-0">
                <h5>General</h5><span></span>
              </div>
              <div class="card-body">
                <form class="theme-form" method="post" enctype="multipart/form-data" action="/admin/setting/">
                  <div class="mb-3">
                    <label class="col-form-label pt-0" for="name">Name</label>
                    <input class="form-control" id="name" name="name" type="text" placeholder="Name*">
                  </div>
                  <div class="mb-3">
                    <label class="col-form-label pt-0" for="light_logo">Light Logo</label>
                    <input class="form-control" id="light_logo" name="light" type="file" placeholder="Light Logo*">
                  </div>
                  <div class="mb-3">
                    <label class="col-form-label pt-0" for="dark_logo">Dark Logo</label>
                    <input class="form-control" id="dark_logo" name="dark" type="file" placeholder="Dark Logo*">
                  </div>
                  <div class="mb-3">
                    <label class="col-form-label pt-0" for="favicon">Fav icon</label>
                    <input class="form-control" id="favicon" name="favicon" type="file" placeholder="Favicon*">
                  </div>
                  <div class="mb-3">
                    <label class="col-form-label pt-0" for="footer">Footer Desc</label>
                    <input class="form-control" id="footer" name="footer" type="text" placeholder="Footer Desc*">
                  </div>
                  <div class="">
                    <button class="btn btn-primary" type="submit">Submit</button>
                  </div>
                </form>
              </div>
       
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


{{end}}