{{define "content"}}
<h1>
   Optik Okuyucu Düzenle

    <a href="/admin/optikokuyucu" class="btn btn-outline-primary float-right"><i class="fa fa-arrow-left"></i> Geri</a>
</h1>
<hr>
<form action="/optikokuyucu/update/{{ .Optiksokuyucu.ID }}" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label>Optik Okuyucu Başlık</label>
        <input type="text" name="optikokuyucu-title" class="form-control" value="{{ .Optiksokuyucu.OptikTitle }}">
    </div>
    <div class="form-group">
        <label>Optik Okuyucu Açıklama</label>
        <textarea name="optikokuyucu-desc" cols="30" row="2" class="form-control">{{.Optiksokuyucu.OptikDescription}}</textarea>
    </div>
    <div class="form-group">
        <img width="100px" src="/admin/{{ .Optiksokuyucu.OptikPicture_url }}" class="my-2" id="current-picture">
        <label>Optik Okuyucu fotoğraf</label>
        <input type="file" name="optikokuyucu-picture" class="form-control-file" id="file-upload">
        <input type="hidden" name="optikokuyucu_selected" id="is_selected" value="0">
    </div>
    <div class="form-group">
        <label>Optik Okuyucu Detaylı</label>
        <textarea name="optikokuyucu-content" id="summernote" cols="30" row="2" class="form-control">{{.Optiksokuyucu.OptikContent}}</textarea>
    </div>
    <button class="btn btn-outline-danger my-3" type="submit">Yenile ve Kaydet</button>
</form>

<script>
    document.getElementById("file-upload").addEventListener("change", function (){
        document.getElementById("optikokuyucu_selected").setAttribute("value", "1")
        document.getElementById("current-picture").style.display="none"
    })
</script>
{{end}}
