{{define "content"}}
<h1>
    Slider ekleme
    <a href="/admin/slider-add" class="btn btn-outline-primary float-right"><i class="fa fa-plus"></i> Slider ekle</a>

</h1>
<hr>

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Slider Fotoğraf</th>
        <th scope="col">Slider Başlık</th>
        <th scope="col">Eklenen Tarih</th>
        <th scope="col">Işlemler</th>
    </tr>
    </thead>
    <tbody>
    {{range $index, $value := .Sliders}}
    <tr>
        <th scope="row">{{ $value.ID }}</th>
        <td><img width="40px" src="{{$value.Slider_Picture_url}}" alt=""></td>
        <td>{{$value.Slider_Title}}</td>
        <td>{{$value.CreatedAt}}</td>
        <td>
            <a href="/admin/slider/edit/{{ $value.ID }}" class="btn btn-outline-warning"> <i class="fa fa-pen"></i></a>
            <a href="/slider/delete/{{ $value.ID }}" class="btn btn-outline-danger"> <i class="fa fa-trash"></i></a>
        </td>
    </tr>
    {{ end }}
    </tbody>
</table>
{{end}}