<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
</head>
<body>
    <!-- Header içeriği buraya gelecek -->
    {{template "layouts/header" .}}

    <!-- Sidebar içeriği buraya gelecek -->

    <main>
        <!-- Ana içerik buraya gelecek -->
        {{block "content" .}}{{end}}
    </main>

    <!-- Footer içeriği buraya gelecek -->
    {{template "layouts/footer" .}}
</body>
</html>
