{{ define "content" }}
<div class="container">
  <div class="row">
  </div>
</div>
<div class="container">
   <p class="text-muted">
    <!-- "Optik form konsunda endişlenecek bir şey yok!" -->
   </p>
   <h2 class="text-center fw-bold pb-5">
    Eğitim Dosyaları
   </h2>
</div>
<!-- Main Content-->
<div class="container">
  <div class="row">
    {{ range $index,$value := .Dosya }}
    <div class="col-lg-2 col-md-6 col-sm-12 col-sm-12">
      <div class="opti__cover">
       <div class="optik__alltext">
        <a href="/dosyalar/{{$value.DosyaSlug }}" class="text-decoration-none text-dark optikformlar">
          <img src="/assets/images/rar.png" alt="form" class="w-25">
          <p class="pt-3 fw-bold text-center">{{ $value.DosyaTitle }}</p>
         </a>
       </div>
      
    </div>
    <div class="opti__coocer">
      <a href="{{$value.Dosya_Url }}" download class="p-1 text-decoration-none border">
        İndir
       <i class="fas fa-arrow-down"></i>
    </a>
    </div>
      </div>
      {{ end }}
    </div>
  <hr/>
  
  </div>

  {{ end }}