{{ define "content" }}
<!-- Page Header-->
<div class="container">
  <div class="row">
  </div>
</div>
<div class="container">
   <h2 class="text-center fw-bold pb-5">
    Optik Okuyucular
   </h2>
</div>
<div class="container">
  <div class="row">
    {{ range $index,$value := .Optiksokuyucu }}
    <div class="col-lg-2 col-md-6 col-sm-12 col-sm-12 ">
      <div class="opti__cover">
        <a href="/optikokuyucudetail/{{$value.OptikSlug }}" class="text-decoration-none text-dark optikformlar">
          <img src="/admin/{{$value.OptikPicture_url}}" alt="form" class="w-100">
          <p class="pt-3 fw-bold text-center">{{ $value.OptikTitle }}</p>
         </a>
      </div>
       <div class="opti__coocer">
        <a class="p-2 text-decoration-none rounded" href="/optikokuyucudetail/{{$value.OptikSlug }}">Devamı</a>
       </div>
      </div>
      {{ end }}
    </div>
  <hr/>
  
  </div>


  {{ end }}