{{define "content"}}
<h1>
    Dosya Yükle
    <a href="/admin/dosyaupload" class="btn btn-outline-primary float-right"><i class="fa fa-plus"></i> Dosya Yükle</a>
</h1>
<hr>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Dosya Başlık</th>
        <th scope="col">Dosya Açıklama</th>
        <th scope="col">Dosyalar</th>
        <th scope="col">Eklenen Tarihi</th>
        <th scope="col">Işlemler</th>
    </tr>
    </thead>
    <tbody>
        {{range $index ,$value := .Dosya}}
        <tr>
            <td> {{$value.DosyaTitle}}</td>
            <td> {{$value.DosyaDescription}}</td>
            <td> {{$value.Dosya_Url}}</td>
            <td>{{$value.CreatedAt}}</td>
            <td>
                <a href="/admin/dosya/edit/{{ $value.ID }}" class="btn btn-outline-warning"> <i class="fa fa-pen"></i></a>
                <a href="/dosya/delete/{{ $value.ID }}" class="btn btn-outline-danger"> <i class="fa fa-trash"></i></a>
            </td>
        </tr>
        {{ end }}
    </tbody>


 
</table>


{{end}}