{{define "content"}}

<div class="page-body">
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-6">
                    <h3>General</h3>
                </div>
            </div>
        </div>
    </div>

    <p>{{.OperaResult}}</p>
</div>
</div>





<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 col-md-12">
                <div class="card dz-card" id="accordion-one">
                    <div class="row">
                        <div class="card-header border-0 col-lg-12">
                            <h4 class="heading px-3">Exchange</h4>
                            <p class="pt-3 px-3">
                                The currencies in this table were taken from the TCMB page.
                            </p>
                        </div>
                    </div>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="Preview" role="tabpanel" aria-labelledby="home-tab">
                            <div class="card-body pt-0">
                                <div class="table-responsive">
                                    <table id="example" class="display table" style="min-width: 845px">
                                        <thead>
                                            <tr>
                                                <th>Unit</th>
                                                <th>Currency</th>
                                                <th>Turkish Name</th>
                                                <th>Forex Buying</th>
                                                <th>Forex Selling</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{ range .DovizKurlari }}
                                            <tr>
                                                <td> {{.Unit}}</td>
                                                <td>{{.CurrencyName}}</td>
                                                <td>{{ .Isim }}</td>
                                                <td>{{ .ForexBuying }}</td>
                                                <td>{{ .ForexSelling }}</td>
                                            </tr>
                                            {{ end }}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-sm-12">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header pb-0">
                            <h5>Daily News</h5>
                        </div>
                        <div class="card-body py-3">
                            {{range .Newss}}
                            <a href="{{.URL}}" class="third-post">
                                <img src="{{.URLToImage}}" alt="">
                                <div class="post-1">
                                    <div class="post-data">
                                        <h4>{{.Title}}</h4>
                                        <span>
                                            {{.Description}}
                                        </span>
                                    </div>
                                </div>
                            </a>
                            {{end}}
            
                        </div>
                    </div>
                </div>
            </div>

        
        </div>
    </div>
</div>

<div class="container">
    <h1>User Logs</h1>
    {{ if .Logs }}
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>User</th>
                    <th>Action</th>
                    <th>Details</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
            <tbody>
                {{ range .Logs }}
                    <tr>
                        <td>{{ .ID }}</td>
                        <td>{{ .User.Username }}</td>
                        <td>{{ .Action }}</td>
                        <td>{{ .Details }}</td>
                        <td>{{ .Timestamp }}</td>
                    </tr>
                {{ end }}
            </tbody>
        </table>
    {{ else }}
        <p>No logs available.</p>
    {{ end }}
</div>



{{end}}