{{ define "scripts"}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/js/all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
<script src="/admin/assets/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="/admin/assets/js/deznav-init.js"></script>
<script src="/admin/assets/js/custom.min.js"></script>
<script src="/admin/assets/vendor/global/global.min.js"></script>
<script src="/admin/assets/vendor/chart-js/chart.bundle.min.js"> </script>
<script src="/admin/assets/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="/admin/assets/vendor/apexchart/apexchart.js"></script>
<script src="/admin/assets/vendor/peity/jquery.peity.min.js"></script>
<script src="/admin/assets/js/dashboard/crm.js"></script>
<script src="/admin/assets/vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="/admin/assets/vendor/datatables/js/dataTables.buttons.min.js"></script>
<script src="/admin/assets/vendor/datatables/js/buttons.html5.min.js"></script>
<script src="/admin/assets/vendor/datatables/js/jszip.min.js"></script>
<script src="/admin/assets/js/plugins-init/datatables.init.js"></script>
<script src="/admin/assets/js/custom.min.js"></script>
<script src="/admin/assets/js/deznav-init.js"></script>
{{end}}