{{define "content"}}
<h1>
    Slider Gir
    <a href="/admin/slider" class="btn btn-outline-primary float-right"><i class="fa fa-arrow-left"></i> Geri</a>
</h1>
<hr>
<form action="/admin/slidercontent" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label>Slider Adı </label>
        <input type="text" name="slider-title" class="form-control">
    </div>
    <div class="form-group">
        <label>Slider Fotoğrafı </label>
        <input type="file" name="slider-picture" class="form-control-file">
    </div>
    <button class="btn btn-outline-danger my-3" type="submit">Kaydet</button>
</form>
{{end}}