{{define "content"}}
<h1>
   Dosya Düzenle
    <a href="/admin/dosya" class="btn btn-outline-primary float-right"><i class="fa fa-arrow-left"></i> Geri</a>
</h1>
<hr>
<form action="/admin/optik/{{ .Optik.ID }}" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label>Dosya Adı</label>
        <input type="text" name="dosya-title" class="form-control" value="{{ .Dosya.DosyaTitle }}">
    </div>
    <div class="form-group">
        <label>Dosya Açıklaması  </label>
        <textarea name="optik-desc" cols="30" row="2" class="form-control">{{.Optik.OptikDescription}}</textarea>
    </div>
    <div class="form-group">
        <img width="100px" src="/{{ .Optiks.OptikPicture_url }}" class="my-2" id="current-picture">
        <label>Content picture </label>
        <input type="file" name="blog-picture" class="form-control-file" id="file-upload">
        <input type="hidden" name="optik_selected" id="is_selected" value="0">
    </div>
    <div class="form-group">
        <label>Content Content </label>
        <textarea name="optik-content" id="summernote" cols="30" row="2" class="form-control">{{.Optik.Content}}</textarea>
    </div>
    <button class="btn btn-outline-danger my-3" type="submit">Yenile ve Kaydet</button>
</form>

<script>
    document.getElementById("file-upload").addEventListener("change", function (){
        document.getElementById("optik_selected").setAttribute("value", "1")
        document.getElementById("current-picture").style.display="none"
    })
</script>
{{end}}
