{{define "content"}}
<h1>
    Yeni Optik Okuyucu Gir
    <a href="/admin/optikokuyucu" class="btn btn-outline-primary float-right"><i class="fa fa-arrow-left"></i> Geri</a>
</h1>
<hr>
<form action="/admin/optikokuyucu" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label>Optik Okuyucu Adı </label>
        <input type="text" name="optikokuyucu-title" class="form-control">
    </div>
    <div class="form-group">
        <label>Optik Okuyucu Açıklaması </label>
        <textarea name="optikokuyucu-desc" cols="30" row="2" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label>Optik Okuyucu Fotoğrafı </label>
        <input type="file" name="optikokuyucu-picture" class="form-control-file">
    </div>
    <div class="form-group ">
        <label>Optik Okuyucu İçeriği </label>
        <textarea name="optikokuyucu-content" id="summernote" cols="30" row="2" class="form-control"></textarea>
    </div>
    <button class="btn btn-outline-danger my-3" type="submit">Kaydet</button>
</form>
{{end}}