{{ define "content" }}
<div class="container">
  <div class="row">
  </div>
</div>
<div class="container mx-auto">
  <h3 class="fw-bold text-center">
      {{.Dosya.DosyaTitle}}
  </h3>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="flex-column optikgalssrom">
            <h5 class="fw-bold pb-2">
             {{.Dosya.DosyaDescription}}
            </h5>
              <p id="blog-content" class="text-dark"></p>
          <div class="d-flex justify-content-end">
            <a href="/admin/{{.Dosya.Dosya_Url}}" download class="buttonDownload">
              Dosya İndir 
            </a>
          </div>
      </div>
    </div>
  </div>
  
  </div>

  <script>
    document.getElementById("blog-content").innerHTML = " {{ .Dosya.DosyaContent}}"
  </script>
  {{ end }}

