{{define "content"}}

<div class="page-body">
  <div class="container">
     <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header pb-0">
            <h5>User Add</h5>
          </div>
          <div class="card-body">
            <form class="theme-form">
              <div class="mb-3 row">
                <label class="col-sm-3 col-form-label" for="inputEmail3">Email</label>
                <div class="col-sm-9">
                  <input class="form-control" id="inputEmail3" type="email" placeholder="Email">
                </div>
              </div>
              <div class="mb-3 row">
                <label class="col-sm-3 col-form-label" for="inputEmail3">Name</label>
                <div class="col-sm-9">
                  <input class="form-control" id="inputEmail3" type="text" placeholder="Name">
                </div>
              </div>
              <div class="mb-3 row">
                <label class="col-sm-3 col-form-label" for="inputEmail3">Surname</label>
                <div class="col-sm-9">
                  <input class="form-control" id="inputEmail3" type="text" placeholder="Surname">
                </div>
              </div>
              <div class="mb-3 row">
                <label class="col-sm-3 col-form-label" for="inputEmail3">Surname</label>
                <div class="col-sm-9">
                  <input class="form-control" id="inputEmail3" type="text" placeholder="Email">
                </div>
              </div>
              <div class="mb-3 row">
                <label class="col-sm-3 col-form-label" for="inputEmail3">Username</label>
                <div class="col-sm-9">
                  <input class="form-control" id="inputEmail3" type="text" placeholder="Username">
                </div>
              </div>
              <div class="mb-3 row">
                <label class="col-sm-3 col-form-label" for="inputPassword3">Password</label>
                <div class="col-sm-9">
                  <input class="form-control" id="inputPassword3" type="password" placeholder="Password">
                </div>
              </div>
              <div class="mb-3 row">
                <label class="col-sm-3 col-form-label" for="inputPassword3">Contact Number</label>
                <div class="col-sm-9">
                  <input class="form-control" id="inputnumber" type="number" placeholder="Contact">
                </div>
              </div>
              <fieldset class="mb-3">
                <div class="row">
                  <label class="col-form-label col-sm-3 pt-0">User Permission</label>
                  <div class="col-sm-9">
                    <div class="form-check radio radio-primary">
                      <input class="form-check-input" id="radio11" type="radio" name="radio1" value="option1" checked="">
                      <label class="form-check-label" for="radio11">Admin</label>
                    </div>
                    <div class="form-check radio radio-primary">
                      <input class="form-check-input" id="radio22" type="radio" name="radio2" value="option2">
                      <label class="form-check-label" for="radio22">Demo</label>
                    </div>
                    <div class="form-check radio radio-primary">
                      <input class="form-check-input" id="radio44" type="radio" name="radio3" value="option3" >
                      <label class="form-check-label" for="radio44">Costumer</label>
                    </div>
                    <div class="form-check radio radio-primary">
                      <input class="form-check-input" id="radio55" type="radio" name="radio4" value="option4" >
                      <label class="form-check-label" for="radio44">Client</label>
                    </div>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
          <div class="card-footer">
            <button class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
     </div>
  </div>
</div>


{{end}}